Source: openmediavault-kvm
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.3.0
Homepage: http://omv-extras.org/

Package: openmediavault-kvm
Architecture: all
Depends: dnsmasq-base,
         ksmtuned,
         libosinfo-bin,
         libvirt-clients,
         libvirt-daemon,
         libvirt-daemon-system,
         netcat-openbsd,
         novnc,
         openmediavault (>= 6.0.9),
         openmediavault-sharerootfs,
         osinfo-db,
         osinfo-db-tools,
         ovmf,
         php-libvirt-php,
         php-xml,
         python3-websockify,
         qemu,
         qemu-efi,
         qemu-efi-aarch64,
         qemu-efi-arm,
         qemu-system-arm,
         qemu-system-data,
         qemu-system-mips,
         qemu-system-ppc,
         qemu-system-x86,
         qemu-utils,
         spice-html5,
         virtinst
Description: kvm plugin for OpenMediaVault.
